@implements IAsyncDisposable
@inject IJSRuntime JS
@inject Notes2022Server.Notes2022ServerClient Client

<div class="dialogs modal-body">
    <p>@message  Please Wait...</p>
    <button type="button" @onclick="Cancel" class="btn btn-info btn-sm">Close</button>
</div>


