
<div class="dialogs">
    <p>Select file to upload:</p>
    <FileSelect @ref="fileSelect" FilesSelected="FilesSelectedHandler" Accept=".txt"></FileSelect>
    <br /><br />
    <button type="button" @onclick="Ok" class="btn btn-success btn-sm">Select File</button>
    <button type="button" @onclick="Cancel" class="btn btn-info btn-sm">Cancel</button>
</div>


