@page "/admin/editroles"

@if (UList == null || UList.List == null)
{
    <p class="center"><em>Loading...</em></p>
}
else
{
    <h3>User List</h3>

    <div>
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (GAppUser item in UList.List)
                {
                    <tr>
                        <td>@item.DisplayName</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <button @onclick="@(() => EditLink(item.Id))">Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}
