@page "/authentication/register"

@using Microsoft.AspNetCore.Components
@using Grpc.Core
@using Grpc.Net.Client.Web
@using Notes2022.Client
@using Notes2022.Proto
@using Grpc.Net.Client
@using Google.Protobuf.WellKnownTypes

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs

@inject Notes2022Server.Notes2022ServerClient AuthClient
@inject NavigationManager Navigation

<h1>Register</h1>

<div class="row">
    <div class="col-md-4">
        <section>

                <h2>Use a local account to log in.</h2>
                <hr />
                <EditForm id="registerform" Model="@Input">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
    
                    <div class="form-floating">
                        <strong>Email</strong>
                        <InputText id="name" @bind-Value="Input.Email" class="form-control medium-input-minus" /> 
                    </div>
                    <div class="form-floating">
                        <strong>Name</strong>
                        <InputText id="name" @bind-Value="Input.UserName" class="form-control medium-input-minus" /> 
                    </div>
                    <div class="form-floating">
                        <strong>Password</strong>
                        <InputText type="password" placeholder="Password" id="password" @bind-Value="Input.Password" class="form-control medium-input-minus" /> 
                    <div class="form-floating">
                        <strong>Confirm Password</strong>
                        <InputText type="password" placeholder="Password" id="password2" @bind-Value="Input.Password2" class="form-control medium-input-minus" /> 
                    </div>
                    </div>
                    <div class="error">
                        <strong>@Message</strong>
                    </div>
                    <div>
                        <br/>
                        <SfButton @onclick="GotoRegister" class="logbutton">Register</SfButton>
                    </div>

                </EditForm>

        </section>
    </div>
</div>
