@page "/about"

@inject Notes2022Server.Notes2022ServerClient Client

@using Notes2022.Shared

@((MarkupString)@text)


@if (model != null)
{
    <h5>
        Primary system administrator:  @model.PrimeAdminName -
        <a href="mailto:@model.PrimeAdminEmail">@model.PrimeAdminEmail</a>
    </h5>
}
<div class="copyright">
        Copyright &copy; 2022 Dale Sinder
    </div>



